/*body {
    background-image: url(./images/laptop.jpg);
    height: 800px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
*/

main {
    display:block
}

section {
    width: 1500px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
    margin: 5px
}