* {
    font-family: 'segoe script','ink free','mv boli','papyrus';
}

header {
    margin-left: 12%;
    font-size: 30px;
}

header nav {
    margin-top: -5%;
    margin-right: 10%;
    float: right;
    font-size: 20px;
    color: black;
}

header nav ul li {
    display: inline-block;
    margin-left: 0;
}

body {
    background-image: url(./images/notebook.jpg);
    background-image 
    height: 800px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
}

main {
    display:block
}

h2 {
    text-align: left;
    margin-left: 3%;
    border-bottom: 2px solid black;
    font-size: 26px;
}

h2:before { 
    content: '❃'
}

section {
    width: 80%;
    height: fit-content;
    align-content: right;
    text-align: center;
    margin-left: 12%;
}

.todo {
    text-align: left;
    margin-left: 35%;
}

#complete {
    text-decoration:line-through;
}

article {
    display: inline;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

button {
    border-style: none;
    background-color: white;
}

button:hover {
    border-style: outset;
    border-color: darkgray;
}

footer {
    text-align: center;
}