* {
    font-family: 'segoe script','papyrus','mv boli','ink free';
    color: #302f2c;
}

header {
    flex: 1 0 0;
    margin-left: 12%;
    font-size: 30px;
}

header nav {
    margin-top: 2%;
    margin-right: -10%;
    float: right;
    font-size: 30px;
    color: #302f2c;
    rotate: 90deg;
}

header nav ul li {
    display: inline-block;
    margin-left: 0;
}

body {
    background-image: url(./images/notebook.jpg);
    background-image 
    height: 800px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
}

main {
    display:block
}

.polaroid {
    position:absolute;
    margin-left: 70%;
    margin-top: -11%;
}

h2 {
    text-align: left;
    margin-left: 3%;
    border-bottom: 2px solid #302f2c;
    font-size: 26px;
}

h2:before { 
    content: '❃'
}

#about {
    text-align: left;
}

section {
    width: 80%;
    height: fit-content;
    align-content: right;
    text-align: center;
    margin-left: 12%;
    margin-bottom: 0%;
}

#about {
    margin-left: 3%;
}

#todo-header {
    text-align: left;
    margin-left: 5%;
    margin-bottom: -1%;
    font-weight: bold;
    text-decoration: underline;
}

.todo {
    text-align: left;
    margin-left: 5%;
}

#complete {
    text-decoration:line-through;
}

article {
    display: inline;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

#coming-soon {
    background-color: transparent;
    border: none;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    background-color: transparent;
    height:75px;
    width:100px;
    box-shadow: 0 0.5em 0.5em -0.4em transparent;
    transform: translateY(-0.25em);
}

footer {
    text-align: center;
    border-top: 3px solid #302f2c;
    margin-left: 13%;
    margin-right: 7%;
}